.gradient{
	background: rgb(63,94,251);
	background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
}
.works{
	display: flex;
	justify-content: center;
}
.con{
	display: flex;
	justify-content: center;

}
.contact-me{
	background: rgb(63,94,251);
	background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
}
.submit{
	border:none;
	background: rgb(63,94,251);
	background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
	color: #fff;
	margin-bottom: 15px;
	width: 150px;
	cursor: pointer;
	transition: opacity 0.15s;
}
.submit:hover{
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
.submit:active{
	opacity: 0.5;
}